.pedestal {
  position: absolute;
  inset: 0;

  &-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-menu {
    position: absolute;
    background: white;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}